.about-page-wrapper {
  flex: 4;

  h1 {
    font-size: 3rem;
    font-weight: 300;
    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .mw {
    @media screen and (max-width: 768px) {
      padding: 0 20px;
      box-sizing: border-box;
    }
    .row {
      margin: 2rem 0;
    }

    .banner-img {
      text-align: center;
      margin: 0 auto;
      width: 100%;

      img {
        width: 100%;
      }
    }

    li {
      list-style-type: inherit;
    }
  }
}
