.featured {
  position: relative;
  .featured-container-player {
    .heading {
      margin-left: 2rem;
    }
  }
  .featured-container-goal {
    margin-left: 11rem;
  }
  .featured-container-player,
  .featured-container-goal {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
    width: 80%;
    .heading {
      font-weight: 300;
      .name {
        font-size: 1.8rem;
      }
    }
    .img-bg-player {
      background: url("../../assets/images/clfinal.webp");
    }
    .img-bg-goal {
      background: url("../../assets/images/goal.webp");
    }
    .img-bg {
      width: 100%;
      max-width: 500px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 12px;
      .content-box {
        display: flex;
        flex-direction: row;

        padding-top: 220px;
        & > div {
          text-align: center;
          background: black;
          opacity: 0.8;
          padding: 10px;
        }

        .label,
        .value {
          color: white;
          text-transform: uppercase;
        }

        .label {
          font-size: 12px;
        }
        .value {
          font-size: 18px;
        }
      }
    }
  }
}
