footer {
  border-top: 1px solid #eeeeee;
  .container {
    .row {
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      padding: 2.5rem 0;
    }
  }
}
