.header {
  mix-blend-mode: difference;
  z-index: 1;
  flex: 1;
  display: inline; //for sticky
  .container-sticky {
    position: relative;
    z-index: 99;
    .col-left {
      float: left;
      width: 15%;
      .wrapper {
        padding: 0 40px;
        padding-top: calc(20 / 750 * 100vw);
        nav {
          ul {
            li {
              list-style: none;
              margin-bottom: 1rem;

              a {
                color: rgb(40, 40, 40);
                text-decoration: none;
                svg {
                  width: 70px;
                }
              }
            }
          }
        }
      }
    }
  }
}
