.header {
  mix-blend-mode: difference;
  z-index: 1;
  flex: 1;
  display: inline; //for sticky
  .container-sticky {
    position: relative;
    z-index: 99;
    .col-left {
      float: left;
      width: 15%;
      @media screen and (max-width: 768px) {
        display: none;
      }
      .wrapper {
        padding: 0 40px;
        padding-top: calc(20 / 750 * 100vw);
        nav {
          ul {
            li {
              list-style: none;
              margin-bottom: 1rem;

              a {
                color: rgb(40, 40, 40);
                text-decoration: none;
                svg {
                  width: 70px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.hamburger-menu {
  display: none;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  .menu-secondary-background-color {
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .menu-layer {
    position: relative;
    background: red;
    height: 100%;
    overflow: hidden;
    .menu-city-background {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      background-size: cover;
      background-repeat: no-repeat;
      animation: cameraPan 30s infinite;
    }
    .wrapper {
      position: relative;
      .menu-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 100px;
        nav {
          display: block;
          ul {
            padding: 0;
            margin: 0;
            li {
              list-style: none;
              font-size: 3rem;
              font-weight: 700;
              cursor: pointer;
              height: 135px;
              overflow: hidden;
              position: relative;
              width: 700px;
              a {
                position: absolute;
                color: #fff;
                text-decoration: none;
                &:hover {
                  color: black;
                }
              }
            }
          }
        }
        .info {
          color: #fff;
          width: 300px;
          h3 {
            font-size: 1.2rem;
            margin: 8px auto;
          }
          p {
            margin: 0 auto;
            font-size: 0.8rem;
          }
        }
      }
      .locations {
        position: absolute;
        bottom: -80px;
        color: #fff;
        margin-top: 16px;
        font-size: 0.8rem;
        font-weight: 600;
        span {
          font-weight: 400;
          &:first-child {
            margin-left: 64px;
          }
          cursor: pointer;
          margin: 0 32px;
          transition: 0.3s ease-in-out;
          &:hover {
            background: black;
            padding: 8px 24px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

.mobile-menu-container {
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;

    padding: 0 24px;
    position: relative;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo a svg {
    width: 20%;
  }
  .menu {
    button {
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      font-size: 0.8rem;
      color: black;
    }
  }
}
.mobile-menu {
  position: absolute;
  left: 0;
  top: 0;

  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}
