.main {
  height: 70%;
  font-size: 1rem;
  //   width: 100%;
  flex: 5;
  .col-right {
    // padding: 0 20px;
    display: flex;
    flex-direction: column;
    .logo-container {
      margin: 2rem 0;
    }
  }
}

.match-info {
  // left: 20%;
  position: relative;
  top: 10%;
  width: 70%;
  float: right;
  &:after {
    clear: both;
  }
  .flex-col {
    // background: $poloBlue;
    background: aliceblue;
    display: flex;
    display: inline-block;
    // flex-direction: column;
    // flex-wrap: nowrap;

    & > div {
      margin-bottom: 4rem;
    }
    .recent-match {
      text-align: center;
      h4 {
        text-align: left;
      }

      .match {
        padding: 5px 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: antiquewhite;
      }
    }

    .winner {
      max-width: 250px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
}

.rel {
  position: relative;
}

.bg-vid {
  // position: relative;
  // position: absolute;
  left: 0;
  top: -4%;
  display: inline; //for sticky child to work
  .sticky {
    // height: 100vh;
    // overflow: hidden;
    video {
      width: 100%;
    }
  }
}

//banner
.hero-container {
  flex: 4;
  margin-bottom: 5rem;
  .banner {
    h2 {
      font-size: 5rem;
      font-weight: 300;
    }
  }
}
