.latest-page-wrapper {
  flex: 4;

  h1 {
    font-size: 3rem;
    font-weight: 300;
    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .mw {
    @media screen and (max-width: 768px) {
      padding: 0 20px;
    }
    .row {
      margin: 2rem 0;
    }

    .team {
      flex: 1;

      h4 {
        font-size: 1.5rem;
      }
    }

    .banner-img {
      flex: 1;
      text-align: center;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    li {
      list-style-type: inherit;
    }
  }
}
