table {
  border-collapse: collapse;
  a {
    color: initial;
  }
}

.s-container {
  padding: 0 20px;

  .title-sub {
    letter-spacing: 1px;
    color: #2b2b32;
    font-size: 11px;
  }
}

.standings-wrapper {
  background: #f1dfe6;
  display: inline-block;
  width: 70%;

  .table-standings {
    width: 100%;
    margin-bottom: 1.1rem;
    border-bottom: 1px solid #b8b8b8;
    font-family: 12px;

    .s-labels {
      line-height: 2.2rem;
      th {
        font-size: 12px;
      }
    }
    .table-col-10 {
      width: 6%;
    }
    tr {
      border-bottom: 1px solid #e4e4e4;
    }
    td {
      line-height: 2.2;
      text-align: center;
      font-size: 14px;
    }

    .s-group,
    .s-teamname {
      text-align: left;
    }

    .s-icon {
      img {
        width: 50%;
        vertical-align: inherit;
      }
    }
  }
}

// h4.title::after {
//   content: "";
//   width: 100%;
//   height: 1px;
//   color: #b8b8b8;
// }
