@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

@import "./variables.scss";
@import "./components/header.scss";
@import "./components/home.scss";
@import "./components/standings.scss";
@import "./components/statistics.scss";
@import "./components/featured.scss";
@import "./components/latest.scss";
@import "./components/footer.scss";

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.header-top {
  padding-top: 25px;
}
.container {
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-70 {
  width: 70%;
}

.col-30 {
  width: 30%;
}

.sticky {
  position: sticky;
  top: 0;
  vertical-align: top;
}

.p-1 {
  padding: 0 20px;
}

hr {
  background-color: currentColor;
  margin: 0.5rem 0;
}

.grid {
  display: grid;
}
